h1{font-family:sans-serif;
text-align: center;
margin-top: 15vh;}

h3{font-family:sans-serif;
    text-align: center;}

input{
}

.BigBox{
    border: 5px solid black;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
     border-radius:10px ;
     border-radius
    
}

